.tabs-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
}

.title-container {
  display: flex;
}

.title {
  cursor: pointer;
  max-height: 50px;
  max-width: 500px;
  flex: 0 0 auto;
  padding: 10px;
  background-color: #eee;
  box-shadow: 0px 0px 5px 0px rgb(168, 166, 166);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-section {
  width: 400px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.title-section::-webkit-scrollbar {
  display: none;
}

.content {
  height: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgb(168, 166, 166);
}

.active-tab {
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgb(168, 166, 166);
}

.arrow-prev, .arrow-next {
  cursor: pointer;
  position: relative;
  display: inline;
  max-height: 50px;
  min-width: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgb(168, 166, 166);  

  &::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
}
  .arrow-prev::before {
    transform: rotate(-135deg);
  }
  
  .arrow-next::before {
    transform: rotate(45deg);
  }
  

  .vertical-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;

    .title {
      width: 100px;
    }
  }


@media screen and (max-width: 550px) {
  .tabs-container {
    width: auto;
  }
}
