.tabs-container {
  box-shadow: 0px 0px 10px 0px rgba(107,107,107,1);
}

.title {
  cursor: pointer;
  max-height: 40px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: #eee;
  border-left: 10px solid #ccc;

}

.content {
  display: block;
  background-color: #fff;
  padding: 20px;
}

.active-tab {
  border-left: 10px solid rgb(247, 161, 64);
  background-color: #fff;
}